.maple-index__ranking-list {margin-top: 20px;}
.maple-index__ranking-item {width: 100%; background: #fff; border: 1px solid #e9eff4; box-shadow: 0 1px 1px 0 rgba(0,0,0,.12);}
.maple-index__ranking-header {padding: 17px 20px 16px; line-height: 17px; font-size: 15px; color: #434343; border-bottom: 1px solid #f0f0f0;}
.maple-index__ranking-content {padding: 17px 0 16px;}
.maple-index__ranking-server {padding: 0 20px 16px 20px; border-bottom: 1px solid #f0f0f0; margin-top: 16px;}
.maple-index__ranking-server:first-child {margin-top: 0;}

.maple-index__item-list {width: 100%; position: relative; background: #fbfbfb; border-bottom: 1px solid #f0f0f0; padding: 5px; /*overflow-x: auto; display: flex;*/}
.maple-index__item-list:after {content: ''; display: block; clear: both; margin: 0;}
.maple-index__item {float: left; width: 20%; height: 235px; padding: 10px; position: relative;}
.maple-index__item-content {background: #fff; padding: 5px 10px 10px 10px; border: 1px solid #e9eff4; box-shadow: 0 1px 1px 0 rgba(0,0,0,.12); border-radius: 3px; position: relative;}
.maple-index__item-img {text-align: center; margin-bottom: 8px;}
.maple-index__item-title {display: flex; align-items: center; justify-content: space-between;}
.maple-index__item-title span {margin: 0;}
.maple-index__item-ranking {font-size: 20px; font-weight: bold; color: #fea24d;}
/*.maple-index__item-info {margin: 3px 0 0 0; flex: 1 0 auto;}*/
.maple-index__item-name {font-size: 14px; color: #434343; margin-bottom: 8px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.maple-index__item-level {font-size: 13px; color: #fea24d;}
.maple-index__item-record {margin-top: 8px; display: flex; align-items: center; justify-content: space-between;}
.maple-index__item-job {font-size: 14px; color: #5e5e5e; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.maple-index__item-layer {font-size: 14px; margin: 0; color: #666489; color: #5e5e5e;}
.maple-index__item-clearTime {font-size: 14px; margin: 0; color: #666489; color: #5e5e5e;}

@media (max-width: 960px) {
	.maple-index__item {width: 25%;}
}

@media (max-width: 760px) {
	.maple-index__item {width: 33.33%;}
}

@media (max-width: 560px) {
	.maple-index__item {width: 50%;}
}

@media (max-width: 375px) {
	.maple-index__item {width: 100%;}
}

.loading {font-size: 24px; text-align: center; padding: 40px 0 20px 0; color: #495057 ;}
.loading p {font-size: 16px; margin-top: 8px;}

.maple-index__ranking-server {display: flex; overflow-x: auto; white-space: nowrap; padding: 20px 10px;}
.maple-index__ranking-content {padding: 0;}
.maple-index__ranking-server span {padding: 0 10px; border-right: 1px solid #ddd; cursor: pointer;}
.maple-index__ranking-server span.active {color: #ff794c;}
.maple-index__ranking-server span:last-child {border-right: 0;}

.maple-index__dojang-server-wrap {position: relative; width: 100%; padding: 15px; background: #fbfbfb;}
.maple-index__dojang-server-info {width: 100%; border-radius: 4px; background: #fff; border: 1px solid #e9eff4; box-shadow: 0 1px 1px 0 rgba(0,0,0,.12); padding: 15px; margin-bottom: 8px;}
.maple-index__dojang-server-text {float: left; width: 33.33%; text-align: center;}
.maple-index__dojang-server-text span {display: inline-block; height: 20px; vertical-align: middle;}
.maple-index__dojang-server-text p {margin-top: 8px; color: #696969; font-size: 14px;}

@media (max-width: 1200px) {
	#guide.visible ~ #content {margin-left: 0;}
	#guide.visible ~ #content:after {content: ''; position: fixed; top: 0; left: 240px; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.5); z-index: 1002;}
}

@media (max-width: 640px) {	
	/*#guide {width: 100%;}*/
	/*#guide.visible ~ #content:after {display: none;}*/
}

.maple-log .maple-search__item-content {margin-top: 0;}
.maple-log p:first-child {color: #434343; font-size: 13px;}
.maple-search__item-list {max-width: 100%; width: 760px;}
.maple-search__item {width: 100%; border-radius: 4px; background: #fff; border: 1px solid #e9eff4; box-shadow: 0 1px 1px 0 rgba(0,0,0,.12); padding: 15px; margin-bottom: 8px; display: flex;}
.maple-search__item-img {display: flex; align-items: center;}
.maple-search__item-img span {display: inline-block; margin: 0 10px;}
.maple-search__item-mob {width: 96px; height: 96px; line-height: 96px; text-align: center;}
.maple-search__item-mob img {object-fit: cover; max-width: 100%; max-height: 100%; vertical-align: middle;}
.maple-search__item-content {flex: 1 1 auto; padding-left: 10px; display: flex; align-items: center;}
.maple-search__item-text {/*font-family: Maplestory_Light;*/}
.maple-search__item-text p {margin-top: 8px; /*font-family: Maplestory_Light;*/ text-align: center; color: #696969; font-size: 14px;}

@media (max-width: 840px) {
	.maple-search__item {display: block;}
	.maple-search__item-img {text-align: center;}
	.maple-search__item-content {display: flex; margin-top: 12px;}
	.maple-search__item-text {font-size: 15px;}
	.maple-search__item-text p {font-size: 13px;}
	.maple-search__item-job {display: none;}
}

@media (max-width: 640px) {
	.maple-search__item-text {font-size: 14px;}
	.maple-search__item-text p {font-size: 12px;}
}

@media (max-width: 480px) {
	.maple-search__item-content {display: block;}
	.maple-search__item-text {margin-bottom: 8px;}
	.maple-search__item-text p {display: inline-block; margin-left: 5px;}
	/*.maple-search__item-level {display: none;}*/
}

.maple-search {display: flex; margin-top: 14px;}
.maple-search__user {min-width: 360px; flex: 1 1 auto; padding-right: 30px;}
.maple-search__user-wrapper {background: #f9f9f9; border: 1px solid #e9eff4; box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);}
.maple-search__user-title {padding: 20px; font-size: 18px; background: #fff; color: #4a4a4a; border-bottom: 1px solid #e9eff4;}
.maple-search__user-content {padding: 20px;}
.maple-search__user-content div {font-size: 15px; color: #5f5f5f; margin-bottom: 12px; word-break: break-all; line-height: 24px;}

@media (max-width: 1080px) {
	.maple-search {display: block;}
	.maple-search__user {min-width: unset; width: 100%; margin-bottom: 20px; padding-right: 0;}
	.maple-search__item-list {width: 100%;}
}